pkgbase = ascii-design
	pkgdesc = Ascii Design is an ascii-art program based on figlet engine.
	pkgver = 1.1.1
	pkgrel = 1
	url = http://ascii-design.sourceforge.net/
	arch = i686
	arch = x86_64
	license = GPL
	makedepends = cmake
	depends = qt4
	depends = figlet
	depends = figlet-fonts
	source = http://sourceforge.net/projects/ascii-design/files/ascii-design/Ascii-Design%201.1.1/ascii-design-1.1.1.tar.bz2
	sha256sums = 20b84098fc7979351cfe47f47a598d7313de429c4aff20c697069c96433671f7

pkgname = ascii-design

